@model EntityFrameWork.Models.EmployeeModel
<style>
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
        background: linear-gradient(0deg, rgb(81, 211, 246) 0%, rgb(109, 153, 156) 86%);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    body {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBfRgy3BuKOS2vtySQuip10aahY6q-jLt7KoDLarPO_A&s");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<form method="post" asp-controller="Employee" asp-action="Add">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" asp-for="Name" class="form-control"  >
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" name="Email" asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label for="Salary" class="form-label">Salary</label>
        <input type="number" name="Salary" asp-for="Salary" class="form-control">
        <span asp-validation-for="Salary" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label for="DateOfBirth" class="form-label">DateOfBirth</label>
        <input type="date" name="DateOfBirth" asp-for="DateOfBirth" class="form-control">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>

    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

        @section scripts{
            @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
        }