@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1{
        text-align:center;
    }
    body {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBfRgy3BuKOS2vtySQuip10aahY6q-jLt7KoDLarPO_A&s");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h1><strong>Tech Neurons</strong></h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
