<html>
    <style>
        h1{
            text-align:center;
        }
        h2{
            text-align:center;
        }
        p{
            text-align:center;
        }
        body{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBfRgy3BuKOS2vtySQuip10aahY6q-jLt7KoDLarPO_A&s");
        background-repeat:no-repeat;
        background-size:cover;
    </style>
<h1><strong>Where Impossibilities Are Made Possible</strong></h1>
<h2>
    ISO 9001:2015 Certified Quality Management System</h2>
    <p>“By choosing TechNeurons, our customers can be confident that they are working with a company that is committed to delivering quality services and products. Our ISO 9001 certification demonstrates that we have a systematic approach to managing our processes and procedures, which in turn ensures that we deliver consistent results.”</p>
</html>